.call-details-card
{
    display: flex;
    border: 2px solid var(--grey);
    width: 70%;
    /* height:180%; */
    margin-top: 30dvh;
    /* background-color: black; */
    border-radius: 20px;
    font-size: larger;
    transform: translate(30%,-100%);
    color: black;
}
#call-details-h3
{
    transform: translate(0,-900%);
    font-size:25px;
    /* background-color: black; */
}
.call-detail-label
{
    color: black;
}
.call-details-wrapper
{
    position: absolute;
    top: 60%;
    width: 100%;
}
.call-update-right2
{
 /* background-color: pink; */
 margin-left: 10%;
}