.sidebar
{
    height: 100%; 
    width: 9rem; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: var(--darkblue); 
    overflow-x: hidden; 
    padding-top: 2rem;
}
.sidebar-links
{
  
    position: fixed;
    top:8rem;
}
.link-sb
{
    text-decoration: none;
}
.link-sb-mp
{
    margin-top:3rem; 
}