.form-input
{
   height: 2rem;
   width: 15rem;
   margin: 1rem;
   font-size: medium;
}
.form{
    display: flex;
    width: 90%;
    height: 90%;
    position: fixed;
    margin-left: 10rem;
    padding-top: 1.8rem;
}
.form-right
{
    width: 100%;
    padding-right: 10rem;
   
}
.form-left
{
    width: 100%;
    justify-content: start;
    align-items: end;
}
.form-left-top 
{
    transform: translate(-1.8rem);
}
.model-number
{
    transform: translate(-1.8rem);
}
.form-btn
{
    width: 1rem;
    margin: auto;
}
#dropdown
{
    width: 15rem;
    height: 2rem;
    font-size: medium;
    margin: 1rem;
}
.submit-btn
{
    background-color: var(--darkblue);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    border:2px solid;
    border-color: var(--blue);
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    min-width: 100px;
   margin-top: 0.6rem;
    text-transform: capitalize;
}
.submit-btn:hover{
    /* background-color: var(--blue); */
    box-shadow: 5px 5px 10px var(--blue);
    transition: all 0.3s;
}