
*
{
  transition: all 0.3s;
}

.login-slot
{
   height: 400px;
   width: 600px;
   border: 2px solid var(--grey);
   border-radius: 10px;
   margin: auto;
   margin-top: 70px;
   /* margin-right: 19rem; */
   box-shadow: 10px 10px 10px 10px var(--grey);
   background: linear-gradient(to right, var(--blue) 50%, transparent 50%);
   /* background-color: var(--green); */
}
.input
{
    width: 8rem;
    height: 1.5rem;
    font-size: large;
    text-align: center;
    border-radius: 20px;
    transform: translate(2.5rem,2rem);
}
.button-login{
    width: 6rem;
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 20px;
    font-size:medium;
    transform: translate(-10rem,5rem);
}
.button-login:hover
{
    cursor: pointer;
}

.validate-btn
{
    transform: translate(-4.6rem,6rem);
    cursor: pointer;
    width: 6rem;
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 20px;
    font-size:medium;
}


.verify
{
  transform: translate(-10rem,7rem);
}

.header {
    text-align: center;
  }
  
 .header h2 {
    font-size: 24px;
    margin: 0;
    padding: 0px;
    padding-top: 10px;
    /* animation: moveHeader 4s linear infinite; */
  }
  
  @keyframes moveHeader {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px); 
    }
    100% {
      transform: translateX(0);
    }
  }
  
  
.login-centre
{
  display: flex;
}
.image-login
{
  /* opacity: 0.3; */
    width: 21rem;
  /* display: block; */
  /* position: relative; */
  /* background-color: var(--blue); */
}



  .footer {
    overflow: hidden; 
    display: flex;
    height: 40px; 
    background-color: var(--blue);
    text-align: center;
    justify-content: center;
    color: var(--black);
    transform: translate(0px,-0.7em);
  }
  
  .footer h3 {
    position: absolute; 
    white-space: nowrap; 
    animation: scroll-text 15s linear infinite;
  }
  
  @keyframes scroll-text {
    0% { transform: translateX(100%); } 
    100% { transform: translateX(-100%); } 
  }


  