.login-slot
{
   height: 400px;
   width: 600px;
   border: 2px solid var(--grey);
   border-radius: 10px;
   margin: auto;
   margin-top: 70px;
   margin-right: 80px;
   box-shadow: 10px 10px 10px 10px var(--grey);
}
.login-page
{
    display: flex;
}
.img-slot
{
    width: 400px;
    height: 400px;
}
img{
   
   
}